.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#loading {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}