<h1>Tarefas Cadastradas</h1>
<ul class="task-list">
    {{#each tasks}}
    <li>
        {{#if this.done}}
        <a href="/" class="title done">{{this.title}}</a>
        {{else}}
        <a href="/" class="title">{{this.title}}</a>
        {{/if}}
        <div class="actions">
            <form action="/tasks/updateStatus" method="POST">
                <input type="hidden" name="id" value="{{this.id}}" />
                <input type="hidden" name="done" value="{{this.done}}" />
                {{#if this.done}}
                <button type="submit" class="a1 reopen">
                    <i class="bi bi-check2-square" title="Reabrir Tarefa"></i>
                </button>
                {{else}}
                <button type="submit" class="a1">
                    <i class="bi bi-check2" title="Concluir Tarefa"></i>
                </button>
                {{/if}}
            </form>
            <a href="/tasks/edit/{{this.id}}" class="a2"><i class="bi bi-pencil-square" title="Editar Tarefa"></i></a>
            <form action="/tasks/remove" method="POST">
                <input type="hidden" name="id" value="{{this.id}}" />
                <button type="submit" class="a3">
                    <i class="bi bi-x-lg" title="Remover Tarefa"></i>
                </button>
            </form>
        </div>
    </li>
    {{/each}}
</ul>