<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mongoose</title>
        <link href="/css/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <nav id="navbar">
            <ul>
                <li><a href="/products">Produtos</a></li>
                <li><a href="/products/create">Cadastrar Produto</a></li>
            </ul>
        </nav>
        <div class="container">
            {{{body}}}
        </div>
    </body>
</html>